<aside>
  <a ui-sref="mail.contacts">Contacts<span class="badge">{{$ctrl.contactsCount}}</span></a>
  <a href="#" ng-click="$ctrl.logout()" class="logout">Logout</a>
  <hr />
  <ul>
    <li ng-click="$ctrl.openBox('inbox')"><a href="">Inbox<span class="badge">{{$ctrl.inboxCount}}</span></a></li>
    <li ng-click="$ctrl.openBox('outbox')"><a href="">Outbox<span class="badge">{{$ctrl.outboxCount}}</span></a></li>
    <li ng-click="$ctrl.openBox('trash')"><a href="">Trash<span class="badge">{{$ctrl.trashCount}}</span></a></li>
  </ul>
</aside>
